<h3>Create account or log in</h3>
<form id="loginform" method="post" action="/login">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit" id="lisu" value="Log In">Log In</button>
  <button type="submit" id="lisu" value="Sign Up">Sign Up</button>
</form>
<% p session %>

<script>

  $('#lisu').click(function(e){
    e.preventDefault();
    console.log($('#loginform').serialize);
    var posting = $.post('/login', $('#loginform').serialize());
    console.log(posting);
    posting.done(function() {
      $('.log').html('<form action="/login" method="get"><button id="dlog" type="submit">Log Out</button></form>')
      $('.login').slideUp(300);
    });
    return false;
  });

</script>
