<div class="container">
  <h1>Welcome to Sinatra!</h1>

  <input id="upload" value="Upload a file!" type="button"></input>

  <% @photos.each do |photo| %>
  <div class="photo">
    <img src="<%=photo.url%>"> 
  </div>
  <% end %>
</div>
