<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Exo:400,700' rel='stylesheet' type='text/css'>

  <script>
  filepicker.setKey('AxLfQbC8KQ7ikhkWrcsbkz');
  </script>


  <title>bi-weekly booth</title>
</head>
<body>
  <div class="verbal">
    <nav>
    <h1> bi-weekly booth </h1>
    <div class="log"><%= session[:user_id] ? '<form action="/login" method="get"><button id="dlog" type="submit">Log Out</button></form>' : '<form action="/login" method="get"><button id="dlog" type="submit">Log In</button></form>' %></div>
    </nav>
    <div class="login"></div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
